* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: #3B1E54;
    --secandory-color: #9B7EBD;
    --light-purple: #D4BEE4;
    --text-color: #000000;
    --bg-color: #ecd9fc;
  }
  
  body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
  }
 
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem;
  text-align: center;
}

.resume-icon {
  position: relative;
  width: 60px;
  height: 80px;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(1, 1, 1, 0.4);
  overflow: hidden;
}

/* Folded corner */
.resume-icon::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: var(--secandory-color); 
  clip-path: polygon(0 0, 100% 0, 0 100%);
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
}

/* Lines inside the paper */
.resume-icon::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 8px;
  width: 80%;
  height: 2px;
  background-color :#ccc;
  box-shadow: 0 10px 0 #ccc, 0 20px 0 #ccc, 0 30px 0 #ccc; 
}

.resume-icon-text {
  position: absolute;
  left: 8rem;
  top: 4rem;
  color: var(--primary-color);
  font-size: 2rem;
  box-shadow: 0px 8px 10px rgba(1, 1, 1, 0.4);
  padding: 0.5rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.resume-icon-text span {
  color: var(--secandory-color);
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: 0 3rem;
  padding-top: 4rem;

}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 5px;
  transition: 0.4s;
}


nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  list-style: none;
  margin: 2rem 20rem 0 0;
}

nav ul li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  padding: 30px 10px 0px 10px;
  color: var(--primary-color);
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.4s ease-in-out;
}

a:hover {
  border-bottom: 4px solid var(--primary-color);
  cursor: pointer;
}






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f5f5f5;
}



